/* Atouts.css */

.atouts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.title-atouts h2 {
  margin-bottom: 20px;
}

.container-atouts {
  flex: 1;
  max-width: 60%;
}

.chart-container {
  flex: 1;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .atouts {
    flex-direction: column;
    align-items: center;
  }

  .container-atouts,
  .chart-container {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
