.container-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 50%;
  margin: 0 auto;
}

.container-about p {
  flex: 1;
  margin: 20px 50px;
  text-align: justify;
  line-height: 2rem;
}

.image {
  width: 120px;
  height: 150px;
  margin-left: 60rem;
  border: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image1 {
  width: 1000px;
  height: 200px;
  margin-top: 40px;
}
