.projets {
  padding: 20px;
}

.container-projet1,
.container-projet2 {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.projet {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projet-img-container {
  position: relative;
  width: 100%;
}

.projet-img {
  max-width: 110px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.projet-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #ff104f;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-right: 20px;
}

.projet-img-container:hover .projet-img {
  opacity: 0.3;
  transform: scale(1.05);
}

.projet-img-container:hover .projet-icon {
  opacity: 1;
}

.projet p {
  text-align: justify;
  max-width: 400px;
  line-height: 2rem;
}

.projet-link {
  display: inline-block;
}
